<nav class="navbar navbar-expand-sm navbar-light bg-light">
<img src="https://png.pngtree.com/templates/md/20180508/md_5af1ec4fa214e.jpg"
            width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
    <a class="nav-link text-dark" href="{{ path('accueil') }}">
        
        BlogFonny
    </a>


    <div class="collapse navbar-collapse" id="navbarColor02">
        
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="/articles">Vos articles</a>
            </li>
            {% endif %}
            {% if not app.user %}
            <li class="nav-item">
                <a class="text-dark" href="{{ path('app_login') }}" class="nav-link" ><i class="fa fa-user-circle-o" aria-hidden="true"></i>Connexion</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="{{ path('app_register') }}" class="nav-link" ><i class="fa fa-user-circle-o" aria-hidden="true"></i>Inscription</a>
            </li>
            {% else %}

            <li class="nav-item">       
                <a class="text-dark" href="{{ path('app_logout') }}" class="nav-link" ><i class="fa fa-user-circle" aria-hidden="true"></i>Déconnexion</a>
            </li>
            {% endif %}
   
        </ul>


       
</nav>
